- title t('.title')

- if can? :new, Order
  %p.nav= link_to t('.new_order'), new_order_path, class: 'new'

- if @orders.limit(1).size > 0
  - @orders.each do |order|
    = render 'show', order: order
- else
  .empty
    = t '.empty'
