- title t '.title', created_at: @order.created_at.to_fs(:long)

%p.nav
  - if can? :index, Order
    = link_to t('back'), orders_path, class: 'index'
  - if can? :edit, @order
    = link_to t('edit'), edit_order_path(@order), class: 'edit'

= render 'show', order: @order
